@import 'base/base';
@import 'base/variables';
@import 'base/mixin';



@font-face {
    font-family: "League Gothic";
    src: url(../fonts/LeagueGothic-Regular.otf);
    // src: url(build/fonts/League-Gothic/LeagueGothic-Regular.otf);
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Light.ttf);
}

@font-face {
    font-family: "Open Sans - Extrabold";
    src: url(../fonts/OpenSans-ExtraBold.ttf);
}

header {
    // background-image: url(Layer_1.png);
    background-image: url(../images/Layer_1.png);
    width: 100%;
    height: 565px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_top {
    background-image: url(../images/3-layers.png);
    width: 156px;
    height: 40px;
}

.menu {
    width: 650px;
    height: 60px;
    margin-left: 300px;
    margin-top: -25px;
}

ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;
}

.menu_link {
    font-family: "League Gothic";
    text-transform: uppercase;
    font-size: 24px;
    color: white;
    text-decoration: none;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
}

.menu_link:hover {
    text-decoration: underline;
}

.header_bottom {
    background-image: url(../images/overlay.png);
    margin: 50px auto;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
}

.text {
    width: 520px;
    padding-top: 30px;
    margin-left: 5px;
    font-family: "League Gothic";
    text-transform: uppercase;
    font-size: 24px;
    color: white;
    text-decoration: none;
}

h1 {
    text-transform: none;
    font-size: 60px;
    color: #fefefe;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

h2 {
    font-size: 32px;
    color: #edbfff;
}

span {
    text-transform: none;
    font-size: 18px;
    font-family: "Open Sans";
    color: #fefefe;
}

.phone {
    background-image: url(../images/5-layers.png);
    width: 224px;
    height: 324px;
    margin-top: -350px;
    margin-left: 600px;
    background-size: contain;
    background-repeat: no-repeat;
}

.dots {
    background-image: url(../images/2-layers.png);
    width: 55px;
    height: 55px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 710px;
    margin-top: 50px;
}

section1 {
    background-image: url(../images/Layer_23.png);
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    margin-top: -20px;
}

.big_box {
    width: 960px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    align-content: space-between;
    margin-left: 35px;
}

.box1 {
    width: 250px;
    height: 200px;
}

.box1::before {
    content: url(../images/Layer_34.png);
    width: 30px;
    height: 32px;
    margin-left: -40px;
}

.box2 {
    width: 250px;
    height: 200px;
}

.box2::before {
    content: url(../images/Layer_35.png);
    width: 30px;
    height: 32px;
    margin-left: -40px;
}

.box3 {
    width: 250px;
    height: 200px;
}

.box3::before {
    content: url(../Layer_36.png);
    width: 30px;
    height: 32px;
    margin-left: -40px;
}

h3 {
    margin-top: -35px;
    font-family: "League Gothic";
    text-transform: uppercase;
    font-size: 30px;
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 0 #0f1518;
}

span7 {
    font-family: "Open Sans";
    text-shadow: 1px 1px 0 #0f1518;
    color: #ffffff;
    font-size: 16px;
}

h4 {
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
    text-shadow: 1px 1px 0 #0f1518;
    color: #ffffff;
    font-family: "League Gothic";
    font-size: 18px;
}

h4:hover {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

section2 {
    background-image: url(../images/Layer_2_copy_2.png);
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    margin-top: -50px;
}

.big_dialog {
    width: 960px;
    height: 420px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    align-content: space-between;
    margin-left: 85px;
}

.dialog {
    background-image: url(../images/Layer_60.png);
    width: 429px;
    height: 294px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

h5 {
    color: #edbfff;
    margin-left: 105px;
    margin-top: -28px;
}

.text2 {
    margin-top: -50px;
    font-family: "League Gothic";
    text-shadow: 1px 1px 0 #ffffff;
    font-size: 30px;
    text-transform: uppercase;
    color: #454545;
}

.image {
    background-image: url(../images/Layer_82.png);
    width: 50px;
    height: 50px;
    margin-left: -55px;
}

span4 {
    text-shadow: 1px 1px 0 #ffffff;
    color: #454545;
    font-family: "Open Sans";
    font-size: 16px;
    text-align: center;
}

.dots1 {
    background-image: url(../images/2-layers.png);
    width: 55px;
    height: 55px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: -550px;
    margin-top: 320px;
}

.dialog1 {
    margin-top: -40px;
    width: 479px;
    height: 254px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

h6 {
    margin-top: 25px;
    font-family: "League Gothic";
    text-shadow: 1px 1px 0 #ffffff;
    font-size: 30px;
    text-transform: uppercase;
    color: #454545;
}

.line1 {
    width: 479px;
    height: 100%;

}

.line2 {
    width: 479px;
    height: 100%;
}

.line3 {
    width: 479px;
    height: 100%;
}

.icons1 {
    background-image: url(../images/Layer_83.png);
    width: 49px;
    height: 49px;
    margin-top: 5px;
}

.icons2 {
    background-image: url(../images/Layer_83_copy.png);
    width: 49px;
    height: 49px;
    margin-top: 5px;
}

.icons3 {
    background-image: url(../images/Layer_83_copy_2.png);
    width: 49px;
    height: 49px;
    margin-top: 5px;
}

p {
    font-family: "Open Sans - Extrabold";
    color: #454545;
    font-size: 16px;
    text-shadow: 1px 1px 0 #ffffff;
    margin-left: 65px;
    margin-top: -40px;
}

p12 {
    font-family: "Open Sans";
    margin-left: 65px;
    margin-top: -35px;
    font-size: 16px;
}

p2 {
    margin-left: 355px;
    text-shadow: 1px 1px 0 #ffffff;
    color: #454545;
    font-family: "League Gothic";
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}

.line {
    background-image: url(../images/Layer_46_copy_3.png);
    width: 100%;
    background-repeat: repeat;
    height: 1px;
    margin-top: -25px;
}

.logos {
    background-image: url(../images/logos.png);
    width: 775px;
    height: 65px;
    margin-top: 15px;
    margin-left: 155px;
}

section3 {
    background-image: url(../images/Layer_37.png);
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    align-content: space-between;
}

.big_box1 {
    width: 960px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    align-content: space-between;
    margin-left: 320px;
}

.box4 {
    margin-top: 55px;
    width: 277px;
    height: 201px;
    display: flex;
    flex-direction: column;
}

.box5 {
    margin-top: 55px;
    width: 277px;
    height: 201px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.box6 {
    margin-top: 55px;
    width: 277px;
    height: 201px;
    display: flex;
    flex-direction: column;
}

p3 {
    text-shadow: 0 1px 0 #ffffff;
    color: #454545;
    font-family: "League Gothic";
    font-size: 48px;
}

p4 {
    text-shadow: 0 1px 0 #ffffff;
    color: #b9b9b9;
    font-family: "League Gothic";
    font-size: 48px;
}

p5 {
    text-shadow: 1px 1px 0 #ffffff;
    color: #c5c5c5;
    font-family: Georgia;
    font-size: 16px;
    font-style: italic;
}

p10 {
    color: #ececec;
}

span6 {
    text-shadow: 1px 1px 0 #ffffff;
    color: #787878;
    font-family: "Open Sans";
    font-size: 16px;
}

p6 {
    margin-bottom: 35px;
    font-family: "League Gothic";
    text-shadow: 1px 1px 0 #ffffff;
    font-size: 30px;
    text-transform: uppercase;
    color: #454545;
}

footer {
    margin-top: -50px;
    background-image: url(../images/bg_copy.png);
    width: 100%;
    height: 100px;
}

.main_text {
    margin-left: 300px;
    width: 600px;
    height: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;
}

.footer_text {
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
    color: #ffffff;
    font-family: "League Gothic";
    font-size: 20px;
    text-transform: uppercase;
}

.right_text {
    width: 200px;
    height: 20px;
    margin-left: 1000px;
    margin-top: -60px;
}

p7 {
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 12px;
}

p8 {
    font-family: "Open Sans - Extrabold";
    font-weight: 400;
}


@media screen and (max-width:1280px) {
    .container {
        margin: 50px auto;
        width: 960px;
        min-height: 100px;
    }
}

@media (min-width: 992px) and (max-width: 1280px) {
    header {
        height: 565px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .container {
        width: 768px;
        min-height: 100px;
    }

    .menu {
        margin-left: -22px;
        margin-top: 5px;
    }

    .text {
        font-size: 24px;
    }

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 24px;
    }

    span {
        text-transform: none;
        font-size: 16px;
        font-family: "Open Sans";
        color: #fefefe;
    }

    .phone {
        margin-left: 480px;
        margin-top: -425px;
    }

    .dots {
        margin-left: 580px;
        margin-top: 150px;
    }

    .big_box {
        width: 770px;
        height: 200px;
    }

    .box1 {
        width: 151px;
        height: 192px;
    }

    .box2 {
        width: 151px;
        height: 192px;
    }

    .box3 {
        width: 151px;
        height: 192px;
    }

    h3 {
        margin-top: -35px;
        font-family: "League Gothic";
        text-transform: uppercase;
        font-size: 24px;
        color: white;
        text-decoration: none;
        text-shadow: 1px 1px 0 #0f1518;
    }

    span7 {
        font-family: "Open Sans";
        text-shadow: 1px 1px 0 #0f1518;
        color: #ffffff;
        font-size: 16px;
    }

    .big_dialog {
        width: 768px;
        margin-left: -5px;
    }

    .dialog {
        width: 313px;
        height: 272px;
    }

    span {
        text-shadow: 1px 1px 0 #ffffff;
        color: #454545;
        font-family: "Open Sans";
        font-size: 16px;
        text-align: center;
    }

    span2 {
        display: none;
    }

    span8 {
        display: none;
    }

    .dots1 {
        margin-left: -450px;
        margin-top: 320px;
    }

    .dialog1 {
        margin-top: -40px;
        width: 327px;
        height: 223px;
    }

    .line1 {
        width: 327px;
    }

    .line2 {
        width: 327px;
    }

    .line3 {
        width: 327px;
    }

    p12 {
        font-family: "Open Sans";
        margin-left: 65px;
        margin-top: -35px;
        font-size: 16px;
    }

    p2 {
        margin-left: 235px;
    }

    .line {
        margin-left: -55px;
        width: 880px;
        height: 1px;
        margin-top: -25px;
    }

    .logos {
        width: 768px;
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 15px;
        margin-left: -5px;
    }

    section3 {
        padding-left: 150px;
    }

    .big_box1 {
        width: 768px;
        height: 200px;
        margin-left: -55px;
    }

    .box4 {
        width: 205px;
        height: 197px;
    }

    .box5 {
        width: 205px;
        height: 197px;
    }

    .box6 {
        width: 205px;
        height: 197px;
    }

    p3 {
        display: none;
    }

    p4 {
        display: none;
    }

    p5 {
        display: none;
    }

    span3 {
        display: none;
    }

    span6 {
        text-shadow: 1px 1px 0 #ffffff;
        color: #787878;
        font-family: "Open Sans";
        font-size: 16px;
    }

    p6 {
        display: none;
    }

    p10 {
        font-family: "League Gothic";
        text-shadow: 1px 1px 0 #ffffff;
        font-size: 24px;
        text-transform: uppercase;
        color: #454545;
        padding-bottom: 25px;
    }

    .main_text {
        margin-left: -5px;
        width: 528px;
        height: 50px;
    }

    .right_text {
        width: 200px;
        height: 20px;
        margin-left: 570px;
        margin-top: -10px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    header {
        height: 565px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .container {
        margin: 50px auto;
        width: 480px;
        min-height: 100px;
    }

    .header_top {
        width: 151px;
        height: 28px;
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: 180px;
    }

    .menu {
        width: 45px;
        height: 24px;
        margin-left: 210px;
        margin-top: 55px;
    }

    ul {
        height: 24px;
        margin-top: -20px;
        text-decoration: underline;
        overflow: hidden;
    }

    ul:hover {
        transition: 1s;
        margin-left: -82px;
        margin-top: 5px;
        background-color: #36293e;
        width: 224px;
        height: 257px;
        overflow: hidden;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: center;
        align-content: space-around;
        position: absolute;
        text-decoration: none;
        border: 1px solid #051116;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
        opacity: 0.9;
        border-radius: 5px;
    }

    .header_bottom {
        height: 300px;
    }

    .text {
        width: 320px;
        padding-top: 100px;
        margin-left: 35px;
        font-size: 24px;
        text-decoration: none;
    }

    h1 {
        text-transform: none;
        font-size: 36px;
    }

    h2 {
        font-size: 18px;
        color: #edbfff;
    }

    span {
        display: none;
    }

    .phone {
        width: 192px;
        height: 284px;
        margin-top: -350px;
        margin-left: 265px;
    }

    .dots {
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: 220px;
        margin-top: 120px;
    }

    section1 {
        height: 598px;
    }

    .big_box {
        width: 370px;
        height: 498px;
        margin-top: 50px;
        margin-left: 70px;
    }

    .box1 {
        width: 370px;
        height: 128px;
    }

    .box1::before {}

    .box2 {
        width: 370px;
        height: 128px;
    }

    .box2::before {}

    .box3 {
        width: 370px;
        height: 128px;
    }

    .box3::before {}

    span7 {
        font-family: "Open Sans";
        text-shadow: 1px 1px 0 #0f1518;
        color: #ffffff;
        font-size: 16px;
    }


    section2 {
        height: 1020px;
    }

    .big_dialog {
        width: 480px;
        min-height: 600px;
        margin-left: -5px;
    }

    .dialog {
        width: 370px;
        height: 202px;
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: 40px;
        padding-top: 25px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .dots1 {
        margin-left: 200px;
        margin-top: -250px;
    }

    .text2 {
        margin-top: -50px;
    }

    span4 {
        text-shadow: 1px 1px 0 #ffffff;
        color: #454545;
        font-family: "Open Sans";
        font-size: 16px;
        text-align: center;
    }

    span8 {
        display: none;
    }

    .dialog1 {
        width: 370px;
        height: 202px;
        margin-left: 40px;
        margin-top: -325px;
    }

    .line1 {
        width: 327px;
        height: 100%;
    }

    .line2 {
        width: 327px;
        height: 100%;
    }

    .line3 {
        width: 327px;
        height: 100%;
    }

    p1 {
        font-family: "Open Sans";
        margin-left: 65px;
        margin-top: -35px;
        font-size: 16px;
        display: none;
    }

    p11 {
        display: none
    }

    p2 {
        margin-left: 235px;
    }

    .line {
        margin-left: 2px;
        width: 476px;
        height: 1px;
        margin-top: 75px;
    }

    .logos {
        background-image: url(../images/logos1.png);
        width: 345px;
        height: 154px;
        margin-top: 15px;
        margin-left: 60px;
    }

    section3 {
        height: 670px;
    }

    .big_box1 {
        width: 480px;
        height: 200px;
        margin-left: 65px;
    }

    .box4 {
        margin-left: -35px;
        width: 440px;
        height: 89px;
        padding-top: 5px;
    }

    .box5 {
        margin-left: -35px;
        width: 440px;
        height: 89px
    }

    .box6 {
        margin-left: -35px;
        width: 440px;
        height: 89px
    }

    p3 {
        display: none;
    }

    p4 {
        display: none;
    }

    p5 {
        display: none;
    }

    span3 {
        display: none;
    }

    span6 {
        margin-top: -35px;
        text-shadow: 1px 1px 0 #ffffff;
        color: #787878;
        font-family: "Open Sans";
        font-size: 16px;
    }

    p6 {
        display: none;
    }

    p10 {
        font-family: "League Gothic";
        text-shadow: 1px 1px 0 #ffffff;
        font-size: 24px;
        text-transform: uppercase;
        color: #454545;
        padding-bottom: 25px;
    }

    footer {
        height: 100px;
    }

    .main_text {
        margin-left: 10px;
        width: 458px;
        height: 50px;
    }

    .right_text {
        width: 200px;
        height: 12px;
        margin-left: 170px;
        margin-top: 5px;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    header {
        height: 565px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .container {
        margin: 50px auto;
        width: 320px;
        min-height: 100px;
    }

    .header_top {
        background-image: url(images/3-layers.png);
        width: 151px;
        height: 28px;
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: 100px;
    }

    .menu {
        width: 50px;
        height: 50px;
        margin-left: 130px;
        margin-top: 30px;
    }

    ul {
        height: 24px;
        margin-top: -20px;
        text-decoration: underline;
        overflow: hidden;
    }

    ul:hover {
        transition: 1s;
        margin-left: -82px;
        margin-top: 5px;
        background-color: #36293e;
        width: 224px;
        height: 257px;
        overflow: hidden;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: center;
        align-content: space-around;
        position: absolute;
        text-decoration: none;
        border: 1px solid #051116;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
        opacity: 0.9;
        border-radius: 5px;
    }

    .header_bottom {
        background-image: none;
    }

    .text {
        width: 320px;
        padding-top: 100px;
        margin-left: 55px;
        font-family: "League Gothic";
        text-transform: uppercase;
        font-size: 24px;
        color: white;
        text-decoration: none;
        margin-top: -125px;
    }

    h1 {
        text-transform: none;
        font-size: 36px;
    }

    h2 {
        font-size: 16px;
        color: #edbfff;
    }

    span {
        display: none;
    }

    .phone {
        display: none;
    }

    .dots {
        margin-left: 130px;
        margin-top: 120px;
    }

    section1 {
        height: 598px;
        margin: 50px auto;
        margin-top: -50px;
    }

    .big_box {
        width: 211px;
        height: 498px;
        /*    margin-top: 50px;*/
    }

    .box1 {
        width: 211px;
        height: 128px;
        margin-left: 60px;

    }

    .box1::before {
        margin-left: -40px;
    }

    .box2 {
        width: 211px;
        height: 128px;
        margin-left: 60px;
    }

    .box2::before {
        margin-left: -40px;
    }

    .box3 {
        width: 211px;
        height: 128px;
        margin-left: 60px;
    }

    .box3::before {
        margin-left: -40px;
    }

    h3 {
        margin-top: -35px;
        font-size: 24px;
    }

    span7 {
        font-family: "Open Sans";
        text-shadow: 1px 1px 0 #0f1518;
        color: #ffffff;
        font-size: 16px;
    }

    h4 {
        margin-top: 25px;
    }

    h4:hover {
        text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
    }

    section2 {
        height: 1220px;
        margin-top: -48px;
    }

    .big_dialog {
        width: 320px;
        min-height: 600px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row wrap;
        align-content: space-between;
        margin-left: -5px;
    }

    .dialog {
        width: 262px;
        height: 272px;
        margin-left: 30px;
        padding-top: 25px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .dots1 {
        width: 55px;
        height: 55px;
        margin-left: 120px;
        margin-top: -270px;
    }

    h5 {
        margin-left: 5px;
        margin-top: 2px;
    }

    .text2 {
        margin-top: -70px;
    }

    span2 {
        display: none;
    }

    span8 {
        text-shadow: 1px 1px 0 #ffffff;
        color: #454545;
        font-family: "Open Sans";
        font-size: 16px;
        text-align: center;
    }

    .dialog1 {
        width: 278px;
        height: 261px;
        margin-left: 25px;
        margin-top: -325px;
    }

    .line1 {
        width: 278px;
        height: 100%;
        margin-top: -25px;
    }

    .line2 {
        width: 278px;
        height: 100%;
        margin-top: -25px;
    }

    .line3 {
        width: 278px;
        height: 100%;
        margin-top: -25px;
    }

    .icons1 {
        margin-top: 25px;
    }

    .icons2 {
        margin-top: 5px;
    }

    .icons3 {
        margin-top: 5px;
    }

    p {
        font-family: "Open Sans - Extrabold";
        color: #454545;
        font-size: 12px;
        text-shadow: 1px 1px 0 #ffffff;
        margin-left: 65px;
        margin-top: -40px;

    }

    p1 {
        font-family: "Open Sans";
        margin-left: 65px;
        margin-top: -35px;
        font-size: 16px;
        display: none;
    }

    p12 {
        font-family: "Open Sans";
        margin-left: 65px;
        font-size: 12px;
    }

    p2 {
        margin-left: 155px;
    }

    .line {
        background-image: url(../images/Layer_46_copy_3.png);
        margin-left: 1px;
        width: 320px;
        height: 1px;
        margin-top: 75px;
    }

    .logos {
        background-image: url(../images/3-layers_1.png);
        width: 237px;
        height: 294px;
        margin-top: 25px;
        margin-left: 40px;
    }

    section3 {
        display: none;
    }

    footer {
        height: 100px;
    }

    .main_text {
        display: none;
    }

    .right_text {
        width: 200px;
        height: 8px;
        margin-left: 110px;
        padding-top: 15px;
    }

    p7 {
        font-size: 8px;
    }
}